/* Pre defined fonts */
@font-face {
    font-family: "Prettyface";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Pre defined styles */
:root{
    --location: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --background: hsl(0, 0%, 8%);
    --box-color: hsl(0, 0%, 12%);
    --link-color: hsl(0, 0%, 20%);
}

/* Body */
body{
    background-color: var(--background);
    margin: 0;
    font-family: "Prettyface", sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--white);
}


/* Container */
.container{
    border-radius: 10px;
    text-align: center;
    background-color: var(--box-color);
    width: 50%;
    height: 97%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Profile details */
.profile{
    padding: 20px;
}

#profile__photo{
    border-radius: 50%;
}

#heading__name{
    margin-bottom: 10px;
}

#sub__heading{
    margin-top: 100px;
}

#location{
    color: var(--location);
    font-style: normal;
    margin-bottom: 50px;
}

/* Social Links */
.social__link{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    background-color: var(--link-color);
    padding: 12px;
    color: var(--white);
    border-radius: 8px;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
}

/* Attribution Links */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }